* {
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    width: fit-content;
    height: fit-content;
}

.header {
    position: relative;
    background-color: antiquewhite;
}

.header h1 {
    text-align: center;
}

.content {
    width: 1000px;
    height: 750px;
    position: relative;
    margin: 0 auto;
    background-image: url("rulmentul2.jpg");
    background-size: cover;
    background-position: center;
}

.opac {
    background-color: antiquewhite;
    opacity: 0.9;
}

.george {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 420px;
    left: 480px;
    opacity: 1;
}

.george h1 {
    font-size: 75px;
    line-height: 70px;
    opacity: 0;
}

.george:hover {
    background-color: bisque;
    opacity: 0.3;
}

.george h1:hover {
    opacity: 1;
}

.radu {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 420px;
    left: 675px;
    opacity: 1;
}

.radu h1 {
    font-size: 75px;
    line-height: 70px;
    opacity: 0;
}

.radu:hover {
    opacity: 0.3;
    background-color: bisque;
}

.radu h1:hover {
    opacity: 1;
}

.home {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 540px;
    height: 90px;
    opacity: 1;
}

.home:hover {
    background-color: antiquewhite;
    opacity: 0.3;
}

@keyframes borderAnimation {
    0% {
      border: 2px solid transparent;
    }
    50% {
      border: 2px solid red; /* Change 'red' to your desired border color */
    }
    100% {
      border: 2px solid transparent;
    }
  }
  
  /* Apply the animation to your element */
  .element {
    animation: borderAnimation 5s infinite; /* '3s' is the duration, and 'infinite' makes it repeat */
  }
  